<!DOCTYPE html> {%load staticfiles%}
<html>
<title>All Products</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static " https://www.w3schools.com/w3css/4/w3.css "%}">
<link rel="stylesheet" href="{% static " https://fonts.googleapis.com/css?family=Raleway "%}">
<link rel="stylesheet" href="{% static " https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css "%}">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway", sans-serif
    }
</style>

<body class="w3-light-grey w3-content" style="max-width:1600px">

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">

        <!-- Header -->

        <div class="w3-container">
            <h1><b>All Products</b></h1>
            <div class="w3-section w3-bottombar w3-padding-16">


            </div>
            </header>

            <!-- First Photo Grid-->


            {% for product  in products  %}


            <div class="w3-row-padding">



                <div class="w3-third w3-container w3-margin-bottom">
                    <img src="{{product.product_image}}" alt="Norway" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                        <h3>{{product.productname}}</h3>
                        <h3>{{product.capacity}}</h3>
                        <h3>{{product.workingpressure}}</h3>
                        <h3>{{product.fuel}}</h3>
                        <h3>{{product.model_series}}</h3>
                        
                    </div>

                    {% endfor %}
                    <!-- End page content -->
                </div>

                <script>
                    // Script to open and close sidebar
                    function w3_open() {
                        document.getElementById("mySidebar").style.display = "block";
                        document.getElementById("myOverlay").style.display = "block";
                    }

                    function w3_close() {
                        document.getElementById("mySidebar").style.display = "none";
                        document.getElementById("myOverlay").style.display = "none";
                    }
                </script>

</body>

</html>
